# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.py eol=lf
*.php eol=lf
*.js eol=lf
*.conf eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
