nppBackup

nextion/~$WLANThermo Nextion Variablentabelle.xlsx

software/usr/share/doc/WLANThermo/Sensordaten/Maverick ET-732,733,735.xls

software/usr/share/doc/WLANThermo/Sensordaten/Maverick ET-732,733,735.xls

*.xls

software/usr/share/doc/WLANThermo/Sensordaten/Maverick ET-732,733,735.xls
