[Unit]
Description=NEXTION Enhanced RTC
Before=WLANThermo.service WLANThermoWD.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nextion_hwclock.py start
ExecStop=/usr/sbin/nextion_hwclock.py stop

[Install]
WantedBy=multi-user.target