[Unit]
Description=WLANThermo watchdog service
Requires=pigpiod.service
After=pigpiod.service

[Service]
ExecStart=/usr/sbin/wlt_2_watchdog.py
KillMode=mixed
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
