[Unit]
Description=WLANThermo main service
Requires=pigpiod.service
After=pigpiod.service

[Service]
ExecStart=/usr/sbin/wlt_2_comp.py

[Install]
WantedBy=multi-user.target